@model ClassLibrary.Models.CoachModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CoachModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.middleName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.middleName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencyContact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyContact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emergencyContactNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emergencyContactNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.coachName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coachName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activeInd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activeInd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.captainID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.captainID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.divisionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.divisionID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.division)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.division)
        </dd>

    </dl>
</div>
<p>
    <a href="javascript:void(0);" onclick="history.go(-1);">Back to Details</a>
</p>
